<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
</head>
<body style="margin: 0; background: #0e0e0e; height: 100%">
    <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
        src="https://http.cat/{{ error.code }}" alt="">
<p>{{ error }}</p>
</body>
<script>
    setTimeout(function() {
        location.reload();
    }, 60000); // 600000 milliseconds = 10 minutes
</script>
</html>